/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@keyframes toastProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
html {
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: black;
}

body {
  background-color: white;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: black;
}
.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}

.animate-toast-progress {
  animation-name: toastProgress;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
